<main class="main-page">

  <h1 class="main-header">Bugün kaç aşı yapıldı?</h1>

  <div class="board">
    <div class="board-item">
      <h2 class="board-item-header">Uygulanan Aşı</h2>
      <h3 class="board-item-count"><%= format_number(@vaccine.today) %></h3>
      <p class="board-item-total">Toplam: <%= format_number(@vaccine.total) %></p>
    </div>
    <div class="board-item">
      <h2 class="board-item-header">1. Doz</h2>
      <h3 class="board-item-count"><%= format_number(@vaccine.today_dose_one) %></h3>
      <p class="board-item-total">Toplam: <%= format_number(@vaccine.total_dose_one) %></p>
    </div>
    <div class="board-item">
      <h2 class="board-item-header">2. Doz</h2>
      <h3 class="board-item-count"><%= format_number(@vaccine.today_dose_two) %></h3>
      <p class="board-item-total">Toplam: <%= format_number(@vaccine.total_dose_two) %></p>
    </div>
  </div>

  <p class="info">Veriler <a href="https://covid19asi.saglik.gov.tr/" target="_blank">covid19asi.saglik.gov.tr</a> adresinden alınmaktadır. Son Güncelleme <%= format_date(@vaccine.updated_at) %></p>
</main>
